body {
    min-width: 290px;
    
}

header {
    font-family: 'Playfair Display', serif;   
    font-style: italic;
    font-size: 1.5em;
}

#navbar {
    position: fixed;
    min-width: 290px;
    height: 100%;
    min-width: 250px;
    width: 300px;
    border-right: groove;
}

#navbar li {
    color: #4d4e53;
    border-top: 1px groove;
    list-style: none;
    position: relative;
    width: 100%;
  }

#main-doc {
    position: absolute;
    margin-left: 350px;
}

section header {
    transition: 0.5s;  
}

section header:hover {
    color: red;
    text-transform: uppercase;
}

.unsung-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.unsung-info {
    padding-left: 20px;
}

img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

